@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

button {
    background-color: #00aaff;
    border-radius: 5px;
    border: solid 1px #00a1ee;
    color: white;
    cursor: pointer;
    padding: 7px;
    font-family: Inter;
    font-weight: bold;
    box-shadow: 0px 0px 10px #00aaff;
}

html body {
    font-family: Inter;
    font-weight: bold;
    background-color: #001122;
    user-select: none;
}

.roll-btn {
    background-color: #00aaff;
    border-radius: 5px;
    border: solid 1px #00a1ee;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-family: Inter;
    font-weight: bold;
    width: 100%;
    font-size: 100%;
}

.popup {
    background: rgba(0,0,0,.4);
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
    backdrop-filter: blur(10px);
}

.ludik-container {
    background-color: #003366;
    box-shadow: 10px 10px 60px #002244;
    display: inline-block;
    height: auto;
    max-width: 150px;
    min-height: 200px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
    transition: all 1000ms;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#image-turtle>img {
    width: 150px;
    filter: brightness(0);
    transition: filter 500ms;
}

#image-turtle {
    justify-content: center;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg,#000,rgb(0,0,0,0)) no-repeat;
    background-position-y: 50px;
    border-radius: 10px;
}

#turtle-title {
    color: #fff;
}

#turtle-rarity {
    color: #000;
    font-size: 18px;
}

#q {
    color: #000;
}